@use "./mixin";
.event {
  margin-top: 150px;

  &__left {
    margin-top: 33px;

    @include mixin.screen(xl) {
      margin-bottom: 33px;
    }
  }

  &__heading {
    max-width: 460px;

    @include mixin.screen(lg) {
      font-size: 6.2rem;
    }
  }
  &__sub-heading {
    margin: 38px 0 32px;

    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #fff;
  }

  &__desc {
    font-size: 1.6rem;
    line-height: 162%;
    color: #bfbfbf;
    max-width: 499px;
  }

  &__desc + &__desc {
    margin-top: 16px;
  }

  &__right {
    position: relative;

    @include mixin.screen(md) {
      display: none;
    }
  }

  &__img {
    width: 570px;
    height: 505px;
    border-radius: 18px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__time {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    gap: 32px;
    padding: 16px 24px;

    background: rgb(29 29 29 / 45%);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 0px 18px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__num {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    color: #fff;
    opacity: 0.7;
  }
}
