@use "./mixin";
.schedule {
  padding-top: 150px;

  @include mixin.screen(md) {
    padding-top: 75px;
  }

  @include mixin.screen(sm) {
    padding-top: 38px;
  }

  &__left {
    @include mixin.screen(lg) {
      margin-bottom: 50px;
    }
  }

  &__heading {
    @include mixin.screen(md) {
      font-size: 3.8rem;
    }
  }

  &__desc {
    margin: 20px 0 34px;
    width: 284px;
    font-size: 1.6rem;
    line-height: 162%;
    color: #bfbfbf;
    @include mixin.screen(md) {
      font-size: 1.4rem;
    }
  }

  &__btn {
    padding: 20px 40px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 130px;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;

    @include mixin.screen(lg) {
      padding: 10px 20px;
    }
  }

  &__right {
    @include mixin.screen(lg) {
      display: none;
    }
  }
}

.schudele-process {
  &__top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  }

  &__gr {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 194px;
    color: rgba(255, 255, 255, 0.3);
    user-select: none;

    &--active {
      color: #fff;
      &::after {
        position: absolute;
        left: 0;
        bottom: -24px;

        display: block;
        content: "";
        width: 100%;
        border-radius: 8px;
        border-bottom: 5px solid #fff;
      }
    }

    &:hover {
      color: #fff;
    }
  }

  &__day-title {
    font-weight: 700;
    font-size: 1.8rem;
  }

  &__date {
    display: flex;
    align-items: flex-end;
    gap: 7px;
    font-weight: 700;
    font-size: 2.8rem;

    span {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1;
      color: #bfbfbf;
      white-space: nowrap;
    }
  }

  &__bottom {
    position: relative;
    margin-top: 40px;

    &::after {
      position: absolute;
      left: 184px;
      top: 0;
      z-index: -1;
      display: block;
      content: "";
      width: 3px;
      height: 500px;
      border-radius: 10px;
      background: #ffcf96;
    }
  }

  &__row {
    display: flex;
    gap: 33px;
  }

  &__row + &__row {
    margin-top: 44px;
  }

  &__time {
    white-space: nowrap;
    width: 144px;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #bfbfbf;
  }

  &__circle {
    position: relative;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    background: #1d1d1d;
    border: 3px solid #ffcf96;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1;
    color: #fff;
  }

  &__desc {
    max-width: 443px;
    font-size: 1.4rem;
    line-height: 171%;
    color: #bfbfbf;
  }
}
