@use "./mixin";

.slider {
  margin-top: 150px;
  padding: 90px 0;

  background: #272727;
  border-radius: 18px;

  @include mixin.screen(md) {
    margin-top: 70px;
  }

  &__inner {
    overflow: hidden;
    display: flex;
  }

  &-item {
    flex-shrink: 0;
  }

  &__img-wrap {
    width: 338px;
    height: 390px;
    border-radius: 18px;
    overflow: hidden;

    @include mixin.screen(lg) {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #f36b7f;

    &-last {
      background: #ffcf96;
    }
  }

  &__content {
    padding-top: 8px;
  }

  &__heading {
    font-weight: 700;
    font-size: 2.8rem;
    color: #fff;

    @include mixin.screen(sm) {
      font-size: 3.8rem;
    }
  }

  &__sub-heading {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #bfbfbf;

    @include mixin.screen(sm) {
      font-size: 1.8rem;
    }
  }

  &__desc {
    margin-top: 16px;
    padding-top: 31px;
    width: 370px;
    font-size: 1.6rem;
    line-height: 162%;
    color: #f0f0f0;
    border-top: 0.8px solid #bfbfbf;

    @include mixin.screen(sm) {
      text-align: justify;
    }
  }

  &__control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 15px;
  }

  &__label {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);

    transition: background 0.3s;

    &--active {
      background: #fff;
    }

    &:hover {
      background: #fff;
    }
  }
}
