@use "./mixin";
.ticket {
  margin-top: 150px;

  @include mixin.screen(lg) {
    margin-top: 30px;
  }

  @include mixin.screen(sm) {
    margin-top: 30px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixin.screen(lg) {
      justify-content: flex-start;
    }
  }

  &__heading {
    margin-bottom: 82px;

    @include mixin.screen(md) {
      font-size: 6rem;
      margin-bottom: 42px;
    }

    @include mixin.screen(sm) {
      font-size: 3.8rem;
      margin-bottom: 22px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include mixin.screen(xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixin.screen(md) {
      grid-template-columns: 1fr;
    }
  }
}

.ticket-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 18px;
  background: #272727;

  @include mixin.screen(lg) {
    margin-top: 30px;
  }

  &__header {
    padding: 26px 38px 29px;
    background: #1d1d1d;
    border: 1px solid #383838;

    border-radius: 18px 18px 0px 0px;

    &--premium {
      background: #f36b7f;
    }

    &--enterprise {
      background: #70d18c;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 3.6rem;
    text-transform: capitalize;
    color: #fff;
  }

  &__desc {
    margin-top: 7px;
    font-size: 1.6rem;
    line-height: 162%;
    color: #fff;
    opacity: 0.8;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 73px;
    padding: 74px 5px 38px 37px;
    border-top: none;
    border-radius: 0px 0px 18px 18px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 18px;

    padding: 16px 0;
    font-size: 1.6rem;
    color: #e5e5e5;
    line-height: 140%;

    &::before {
      display: flex;
      content: url("../imgs/subtract.svg");
    }

    &--premium:before {
      content: url("../imgs/subtract-premium.svg");
    }

    &--enterprise:before {
      content: url("../imgs/subtract-enterprise.svg");
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 302px;
    padding: 12px 20px;
    background: #1d1d1d;
    border: 1px solid #383838;
    border-radius: 54px;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    transition: background 0.3s;

    &:hover {
      background: #5162fe;
    }
  }
}
